@font-face {
    font-family: 'Noto Sans JP Medium';
    font-display: swap;
    src: url('../fonts/NotoSansJP-Medium.ttf');
    /* https://stackoverflow.com/a/30200250/7418806 */
    /* unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF; */
    unicode-range: U+4E00–U+9FBF U+3040–U+309F U+30A0–U+30FF;
}

.rmp-name__jreast {
    font-family: 'Noto Sans JP Medium', sans-serif;
}
