:root {
    background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1A202C;
        color: white;
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    width: -webkit-fill-available;
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

div#root {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tools::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.tools {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* text outline: https://stackoverflow.com/a/26498819 */
.rmp-name-outline {
    paint-order: stroke;
    stroke: #FFFFFF;
    /* Do not forget to define stroke-width when using this class! */
    stroke-linejoin: round;
}
